@model advanced_jobmatchingtool_webapp.Models.CategorieSubCat

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CategorieSubCat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NaamCategorie" class="control-label"></label>
                <input asp-for="NaamCategorie" class="form-control" />
                <span asp-validation-for="NaamCategorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NaamSubCategorie" class="control-label"></label>
                <input asp-for="NaamSubCategorie" class="form-control" />
                <span asp-validation-for="NaamSubCategorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

