
@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center mb-3">Overzichtspagina Beheerder</h2>

<h3>Deel Vragen</h3>

<ul>
    <li><a asp-controller="CategorieSubCats" asp-action="Index">Beheer Categorieën en Subcategorieën</a></li>
    <li><a asp-controller="AntwoordOpties" asp-action="Index">Beheer Antwoordopties</a></li>
    <li><a asp-controller="VragenKandidaat" asp-action="Index">Beheer Vragenlijst Kandidaat</a></li>
    
</ul>

<h3>Deel Antwoorden verzamelen</h3>

<p>Via onderstaande link kan er extra informatie toegevoegd worden aan de reeds verzamelde antwoorden.
</p>

<ul>
    <li><a asp-controller="BeheerAntwoordenKandidaten" asp-action="Index">Beheer Antwoorden Kandidaten</a></li>
</ul>

<h3>Deel Analyse Antwoorden</h3>

<h3>Prospecten</h3>

<ul>
    <li><a asp-controller="Prospecten" asp-action="Index">Lijst prospecten</a></li>
</ul>
