
@{
    ViewData["Title"] = "Index";
}

<h1>Overzichtspagina Beheerder</h1>

<h3>Deel Vragen</h3>

<ul>
    <li><a asp-controller="CategorieSubCats" asp-action="Index">Beheer Categorieën en Subcategorieën</a></li>
    <li><a asp-controller="AntwoordOpties" asp-action="Index">Beheer Antwoordopties</a></li>
    <li><a asp-controller="VragenKandidaat" asp-action="Index">Beheer Vragenlijst Kandidaat</a></li>
    <li><a asp-controller="VragenKlant" asp-action="Index">Beheer Vragenlijst Klant</a></li>
</ul>

<h3>Deel Antwoorden verzamelen</h3>

<p>Via onderstaande links kan er extra informatie toegevoegd worden aan de reeds verzamelde antwoorden. <br />
    Dit kan zowel op de kandidaten als op de klanten worden toegepast.
</p>

<ul>
    <li><a asp-controller="BeheerAntwoordenKandidaten" asp-action="Index">Beheer Antwoorden Kandidaten</a></li>
    <li><a asp-controller="BeheerAntwoordenKlanten" asp-action="Index">Beheer Antwoorden Klanten</a></li>
</ul>

<h3>Deel Analyse Antwoorden</h3>
