@model advanced_jobmatchingtool_webapp.Models.VraagKlant

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vraag Klant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="VraagText" class="control-label">Vraag in tekstvorm</label>
                <input asp-for="VraagText" class="form-control" />
                <span asp-validation-for="VraagText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategorieSubCatId" class="control-label">Categorie - Subcategorie</label>
                <select asp-for="CategorieSubCatId" class="form-control" asp-items="ViewBag.CategorieSubCatId"></select>
                <span asp-validation-for="CategorieSubCatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AntwoordOptieId" class="control-label">Antwoordopties</label>
                <select asp-for="AntwoordOptieId" class="form-control" asp-items="ViewBag.AntwoordOptieId"></select>
                <span asp-validation-for="AntwoordOptieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoortAntwoord" class="control-label">Type antwoord</label>
                <select asp-for="SoortAntwoord" asp-items="ViewBag.SoortAntwoord" class="form-control"></select>
                <span asp-validation-for="SoortAntwoord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Opslaan" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug naar lijst</a>
</div>

