@model advanced_jobmatchingtool_webapp.Models.Prospect

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Prospect</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NaamOnderneming" class="control-label"></label>
                <input asp-for="NaamOnderneming" class="form-control" />
                <span asp-validation-for="NaamOnderneming" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NaamContactpersoon" class="control-label"></label>
                <input asp-for="NaamContactpersoon" class="form-control" />
                <span asp-validation-for="NaamContactpersoon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Btwnr" class="control-label"></label>
                <input asp-for="Btwnr" class="form-control" />
                <span asp-validation-for="Btwnr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adres" class="control-label"></label>
                <input asp-for="Adres" class="form-control" />
                <span asp-validation-for="Adres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postcode" class="control-label"></label>
                <input asp-for="Postcode" class="form-control" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stad" class="control-label"></label>
                <input asp-for="Stad" class="form-control" />
                <span asp-validation-for="Stad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Land" class="control-label"></label>
                <input asp-for="Land" class="form-control" />
                <span asp-validation-for="Land" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefoonnr" class="control-label"></label>
                <input asp-for="Telefoonnr" class="form-control" />
                <span asp-validation-for="Telefoonnr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gsmnr" class="control-label"></label>
                <input asp-for="Gsmnr" class="form-control" />
                <span asp-validation-for="Gsmnr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OmschrijvingOnderneming" class="control-label"></label>
                <input asp-for="OmschrijvingOnderneming" class="form-control" />
                <span asp-validation-for="OmschrijvingOnderneming" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TermsCond" /> @Html.DisplayNameFor(model => model.TermsCond)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

