@{
    ViewData["Title"] = "Index";
}

<h1>Overzicht Klant</h1>

<p>
   In onderstaand overzicht staan er per categorie vragen beschikbaar. Dit geeft alvast de kans om
   jou, als werkgever, te leren kennen.
</p>

<p>
    Neem rustig je tijd om in elke categorie je vragen te beantwoorden. Je hoeft niet alles ineens te beantwoorden,
    je kan dit per categorie doen. Je kan steeds op de Annuleren-knop klikken als je wil teruggaan naar de Homepagina.
</p>

<ul>
    <li><a asp-controller="PersonaliaKlant" asp-action="Index">Personalia</a></li>
    <li><a asp-controller="StudiesKlant" asp-action="Index">Studies</a></li>
    <li><a asp-controller="WerkKlant" asp-action="Index">Werkgerelateerde vragen</a></li>
    <li><a asp-controller="BehoeftesKlant" asp-action="Index">Jouw behoeftes</a></li>
    <li><a asp-controller="TriggersKlant" asp-action="Index">Jouw triggers</a></li>
    <li><a asp-controller="StressKlant" asp-action="Index">Stressgerelateerde vragen</a></li>
</ul>

