@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>KrASSwerk Jobmatching Tool</h1>

<p>Op dit platform kan je je registreren als kandidaat of als klant. <br /> <br />
    Ben je een nieuwe kandidaat en wil je dat wij je helpen met het vinden van een job? Klik dan op registreren, rechts bovenaan
    en kies nadien voor "Kandidaat".<br /> <br />

    Ben je nieuwe werkgever die op zoek is naar een kandidaat voor een bepaalde functie? Klik dan op registreren, rechts bovenaan
    en kies nadien voor "Klant".
</p>

<p> Ben je al geregistreerd? Dan kan je inloggen met je persoonlijke gegevens via de loginpagina (rechts bovenaan)</p>