
@{
}



<h2 class="text-center mb-4">Opus Aptus</h2>
<div class="introtekstje">
    <p>
        Op dit platform kan je je registreren als kandidaat met (vermoeden) van autisme. <br /> <br />
        Ben je een nieuwe kandidaat en wil je dat wij je helpen met het vinden van een job? Klik dan op registreren, rechts bovenaan
        en vul je gegevens in.<br /> <br />

        Ben je nieuwe werkgever die op zoek is naar een kandidaat voor een bepaalde functie? <br />
        Klik dan op onderstaande link en vul het contactformulier in. We nemen dan contact met je op. <br />
        <a asp-controller="prospects" asp-action="create">Aanmelden werkgevers</a>
    </p>

    <p> Ben je al geregistreerd? Dan kan je inloggen met je persoonlijke gegevens via de loginpagina (rechts bovenaan)</p>
</div>
