@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register Bevestiging";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Bedankt voor je registratie, je krijgt zodadelijk een e-mail van ons. Houd zeker je spambox
    in de gaten. Met vriendelijke groet, het Opus Aptus-Team.
</p>
    }
    else
    {
<p>
        Er is iets misgegaan. Staat er een foutje in je e-mailadres?
</p>
    }
}

