@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registratie Bevestiging";
}

<h1>@ViewData["Title"]</h1>
@*
@if (Model.DisplayConfirmAccountLink)
{
    <p>
        Bedankt voor je registratie! Je account is aangemaakt
        en je kan <a href="@Url.Page("/Account/Login")">direct inloggen</a>.
    </p>
    
}
else
{
    <p>
        Er is iets misgegaan tijdens je registratie. Controleer je ingevulde gegevens en probeer opnieuw.
    </p>
}

*@

<p>
    Bedankt voor je registratie! Je account is aangemaakt
    en je kan <a href="@Url.Page("/Account/Login")">direct inloggen</a>.
</p>