@model advanced_jobmatchingtool_webapp.ViewModels.Kandidaat.KandidaatProfielViewModel
@{
    ViewData["Title"] = "Mijn profiel";
}

<h2>Mijn profiel</h2>
<hr />

<form asp-action="Profiel" method="post" enctype="multipart/form-data">
    <div class="container">
        <h4>Persoonlijke gegevens</h4>
        <table class="table table-borderless">
            <tr>
                <td><label asp-for="Voornaam"></label></td>
                <td>
                    <input asp-for="Voornaam" class="form-control-plaintext" readonly />
                </td>
            </tr>
            <tr>
                <td><label asp-for="Familienaam"></label></td>
                <td>
                    <input asp-for="Familienaam" class="form-control-plaintext" readonly />
                </td>
            </tr>
            <tr>
                <td><label asp-for="Email"></label></td>
                <td>
                    <input asp-for="Email" class="form-control-plaintext" readonly />
                </td>
               
            </tr>
            <tr>
                <td><label asp-for="Personalia.Gsmnr"></label></td>
                <td><input asp-for="Personalia.Gsmnr" class="form-control" /></td>
            </tr>
            <tr>
                <td><label asp-for="Personalia.Telnr"></label></td>
                <td><input asp-for="Personalia.Telnr" class="form-control" /></td>
            </tr>
            <tr>
                <td><label asp-for="Personalia.Postcode"></label></td>
                <td><input asp-for="Personalia.Postcode" class="form-control" /></td>
            </tr>
            <tr>
                <td><label asp-for="Personalia.Stad"></label></td>
                <td><input asp-for="Personalia.Stad" class="form-control" /></td>
            </tr>
            <tr>
                <td><label asp-for="Personalia.Land"></label></td>
                <td><input asp-for="Personalia.Land" class="form-control" /></td>
            </tr>
        </table>

        <h4>Statuut en ondersteuning</h4>
        <table class="table table-borderless">
            <tr>
                <td><label asp-for="Statuut.Diagnose"></label></td>
                <td><select asp-for="Statuut.Diagnose" class="form-select" asp-items="Html.GetEnumSelectList<DiagnoseOpties>()"></select></td>
            </tr>
            <tr>
                <td><label asp-for="Statuut.HeeftIMWStatuut"></label></td>
                <td><input asp-for="Statuut.HeeftIMWStatuut" type="checkbox" /></td>
            </tr>
            <tr>
                <td><label asp-for="Statuut.IMWBestanden">Upload bewijs (PDF, DOC, JPG, PNG)</label></td>
                <td><input asp-for="Statuut.IMWBestanden" type="file" multiple class="form-control" /></td>
            </tr>
            <tr>
                <td><label asp-for="Statuut.HulpNodigBijInvullen"></label></td>
                <td><input asp-for="Statuut.HulpNodigBijInvullen" type="checkbox" /></td>
            </tr>
        </table>

        @if (Model.Statuut.BestaandeBestanden?.Any() == true)
        {
            <h5>Reeds geüploade bestanden</h5>
            <ul>
                @foreach (var bestand in Model.Statuut.BestaandeBestanden)
                {
                    <li>@bestand</li> <!-- eventueel downloadlink toevoegen -->
                }
            </ul>
        }

        <button type="submit" class="btn btn-primary">Opslaan</button>
    </div>
</form>

